<section class="main-section">

    <h1 class="text-center row justify-content-center">Your Applications</h1>
    {{#if user}}
    <div class="container mt-4">
        <div class="card">
            <div class="card-header  ">
                <a class="-btn -bg -txt" href="/applications/create">Add a New</a>
                <input class="form-control col align-self-end" id="filterInput" type="text" placeholder="Search..">
            </div>

             <div class="card-body">
                <table class="table table-hover" id="myTable">
                    <thead >
                    <tr class="text-white banner">
                        <th>Start Day</th>
                        <th>Position</th>
                        <th>Company</th>
                        <th>Job Type</th>
                        <th>Salary</th>
                        <th>Location</th>
                        <th>Link</th>
                    </tr>
                    </thead>
                    <tbody>

                        {{#each applications}}
                        <tr>
                            <td><a href="/applications/details/{{this._id}}">{{this.startDay}}</a></td>
                            <td><a href="/applications/details/{{this._id}}">{{this.position}}</a></td>
                            <td><a href="/applications/details/{{this._id}}">{{this.company}}</a></td>
                            <td><a href="/applications/details/{{this._id}}">{{this.type}}</a></td>
                            <td><a href="/applications/details/{{this._id}}">{{this.salary}}</a></td>
                            <td><a href="/applications/details/{{this._id}}">{{this.location}}</a></td>
                            <td>
                                <a href="/applications/details/{{this._id}}" class="btn btn-info btn-sm text-dark">Details</a>
                                <a href="/applications/edit/{{this._id}}" class="btn btn-secondary text-light btn-sm">Edit</a>
                                <a href="/applications/delete/{{this._id}}" class="btn btn-danger btn-sm" onclick="return confirmDelete()">Delete</a>
                            </td>
                        </tr>

                        {{/each}}

                    </tbody>


                </table>
            </div>
        </div>

    </div>
    {{/if}}
</section>


